body {
    font-family: 'times new roman', times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

button {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    --nav-height: 45px;
    background-color: #fff;
}

.wrapper * {
    background-color: transparent;
}

.top-nav {
    background-color: #fff;
    height: var(--nav-height);
    padding: 15px;
    width: 100%;
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-size: 0.7rem;
    font-weight: 700;
}

.nav-icon {
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 9px;
    margin-right: 20px;
}

.hamburger {
    background-image: url("./imgs/hamburger.png");
}

.magnifying {
    background-image: url("./imgs/magnifying.png");
}

.nyt-link-logo {
    height: 25px;
    width: 184px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./imgs/nytlogo.png");
}

.classic-button {
    background-color: rgb(86, 123, 149);
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid rgb(50, 104, 145);
}

.right-nav .classic-button {
    font-size: 11px;
    padding: 11px 12px 8px 12px;
    margin-right: 7px;
}

article {
    padding-top: calc(var(--nav-height) + 70px);
}

article > * {
    margin: 0 auto;
    width: 50%;
}

article p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 10px 0;
}

article a {
    color: #326891;
    text-decoration: underline;
}

article h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    padding: 10px 0;
}

article h2 {
    font-weight: 700;
    font-size: 1.35rem;
    padding: 20px 0 25px 0;
}

article h3 {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 5px 0;
}

.big-section {
    --margin-big-section: 15px;
    width: 945px;
    margin-top: var(--margin-big-section);
    margin-bottom: var(--margin-big-section);
}

figure.big-section figcaption {
    padding: 10px 200px 0 0;
}

article figcaption {
    color: #666;
}

.figure-source {
    color: #888;
    font-size: 0.9rem;
}

.author-section {
    padding: 20px 0;
}

.author-section div:last-child {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.author {
    font-weight: 700;
    font-size: 1rem;
}

.author a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #ccc;
}

.article-date {
    font-size: 0.8rem;
}

.icon {
    --icon-size: 27px;
    display: inline-block;
    height: var(--icon-size);
    width: var(--icon-size);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
}

.facebook {
    background-image: url("./imgs/facebook.png");
}

.twitter {
    background-image: url("./imgs/twitter.png");
}

.mail {
    background-image: url("./imgs/mail.png");
}

.share {
    background-image: url("./imgs/share.png");
}

.bookmark {
    background-image: url("./imgs/bookmark.png");
}

.comments {
    background-image: url("./imgs/comments.png");
}

.subscribe-section {
    width: 30%;
    text-align: center;
    position: relative;
    padding: 25px; 
}

.middle-line {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    width: 20%;
    margin: 0 auto;
    --sub-line-margin: 20px;
}

.subscribe-section .middle-line:first-child {
    margin-bottom: var(--sub-line-margin);
}

.subscribe-section .middle-line:last-child {
    margin-top: var(--sub-line-margin);
}


.subscribe-section p {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.05rem;
}

.subscribe-section p a {
    text-decoration: none;
}

.subsection {
    padding: 30px 0;
}

.subsection p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1rem;
}

.theory-pics {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-column-gap: 22px;
    background-color: transparent;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.theory-pics p {
    font-family: arial;
    color: black;
    /* font-size: 14px; */
    font-size: 0.7rem;
    line-height: 0.8rem;
    font-weight 300;
    margin-top: 145px;
}

.theory-pics span {
    font-weight: 900;
    /* font-size: 12px; */
    font-size: 0.6rem;
    margin-right: 7px;
}

img[src="./imgs/theory.png"] {
    position: absolute;
    z-index: -1;
}

.theory-pics:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 1px;
    width: 70px;
    background-color: #000;    
}

p.pics-author {
    font-size: 0.85rem;
    color: #000;
}

.secondary-figure {
    padding: 40px 0;
}

iframe {
    width: 100%;
}

p.article-bottom {
    font-size: 0.8rem;
    line-height: 1rem;
    color: rgb(102, 102, 102);
}

p.article-bottom a {
    color: inherit;
}

.comment-bar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-bar .classic-button {
    font-size: 17px;
    padding: 10px 70px;
}

footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.more-articles-section {
    display: flex;
}

.more {
    border-top: 1px solid black;
    margin: 10px;
}

.more h3 {
    font-weight: 900;
    font-size: 1.1rem;
    margin: 20px 0;
}

.more-grids {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.more-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.more-grid figure {
    display: flex;
    flex-direction: column;
}

.light-thumb {
    font-size: 0.7rem;
    color: #999;
    font-weight: 200;
    margin: 2px 0;
}

.thumbnail-source {
    text-align: right;
}

.thumbnail-date {
    text-align: left;
}

.popular-list {
    flex: 2;
    list-style: none;
}

.popular-list li {
    padding: 18px 0;
    font-weight: 500;
    font-size: 1.2rem;
    border-top: 0.5px solid #e2e2e2;
}

.bottom-links {
    border-top: 2px solid #ccc;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.to-home-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.goto-homepage {
    font-size: 0.6rem;
    color: rgb(86, 123, 149);
}

.categories-section {
    display: flex;
}

.categories-section > * {
    flex: 1;
}

.category {
    display: flex;
    flex-direction: column;
}

.category > * {
    font-size: 0.7rem;
    margin: 7px 0;
}

.credits-links {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.credits-links a {
    font-size: 0.55rem;
    color: #666;
    padding: 0 10px;
}

.subscribe-category > * {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.subscribe-category > *:last-child {
    border-bottom: none;
}

.buy-link {
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.buy-link:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.home-delivery:before {
    background-image: url("./imgs/home-delivery.png");
}  

.digital-subscriptions:before {
    background-image: url("./imgs/t.png");
}  

.crossword:before {
    background-image: url("./imgs/crossword.png");
}  

.cooking:before {
    background-image: url("./imgs/cooking.png");
}  

.small-sub {
    font-size: 0.6rem;
}
