* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

button {
    border: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

p > a {
    color: #326891;
    text-decoration: underline;
}

h2 {
    font-weight: 700;
    font-size: 1.35rem;
}

.wrapper {
    --nav-height: 45px;
    background-color: #fff;
}

.wrapper * {
    background-color: #fff;
}

.top-nav {
    height: var(--nav-height);
    padding: 15px;
    width: 100%;
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-size: 0.7rem;
    font-weight: 700;
}

.nav-icon {
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 9px;
    margin-right: 20px;
}

.hamburger {
    background-image: url("./imgs/hamburger.png");
}

.magnifying {
    background-image: url("./imgs/magnifying.png");
}

.nyt-link-logo {
    height: 25px;
    width: 184px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./imgs/nytlogo.png");
}

.nav-classic-button {
    background-color: rgb(86, 123, 149);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 11px 12px 8px 12px;
    border-radius: 3px;
    border: 1px solid rgb(50, 104, 145);
    margin-right: 7px;
}

article {
    padding-top: var(--nav-height);
    /*width: 43%;*/
}

article > * {
    margin: 0 auto;
    width: 50%;
}

h1 {
    font-size: 2.5rem;
    padding-top: 80px;
    font-style: italic;
}

.main-figure {
    width: 945px;
    margin-top: 40px;
}

figcaption {
    color: #666;
    padding: 10px 200px 0 0;
}

.caption-commentor {
    color: #888;
}

.author-section {
    padding: 50px 0;
}

.author-section div:last-child {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.author {
    font-weight: 700;
    font-size: 1rem;
}

.author a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #ccc;
}

.date {
    font-size: 0.8rem;
}

.icon {
    --icon-size: 27px;
    display: inline-block;
    height: var(--icon-size);
    width: var(--icon-size);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
}

.facebook {
    background-image: url("./imgs/facebook.png");
}

.twitter {
    background-image: url("./imgs/twitter.png");
}

.mail {
    background-image: url("./imgs/mail.png");
}

.share {
    background-image: url("./imgs/share.png");
}

.bookmark {
    background-image: url("./imgs/bookmark.png");
}

.comments {
    background-image: url("./imgs/comments.png");
}

.subscribe-section {
    width: 30%;
    text-align: center;
    position: relative;
    padding: 25px; 
}

.subscribe-section span {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    width: 20%;
    margin: 0 auto;
    --sub-line-margin: 20px;
}

.subscribe-section span:first-child {
    margin-bottom: var(--sub-line-margin);
}

.subscribe-section span:last-child {
    margin-top: var(--sub-line-margin);
}


.subscribe-section p {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
}

.subscribe-section p a {
    text-decoration: none;
}
