* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    --nav-height: 45px;
    background-color: #fff;
}

.wrapper * {
    background-color: transparent;
}

.top-nav {
    height: var(--nav-height);
    padding: 15px;
    width: 100%;
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.nav-link {
        font-size: 14.25px;
    font-weight: 700;
}

.nav-icon {
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 9px;
    margin-right: 20px;
}

.hamburger {
    background-image: url("./hamburger.png");
}

.magnifying {
    background-image: url("./magnifying.png");
}

.nyt-link-logo {
    height: 25px;
    width: 184px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./nytlogo.png");
}

.nav-classic-button {
    background-color: rgb(86, 123, 149);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 11px 12px 8px 12px;
    border-radius: 3px;
    border: 1px solid rgb(50, 104, 145);
    margin-right: 7px;
}

article {
    padding-top: var(--nav-height);
}
